body {

	text-align: center;
  margin: 0 auto;
	background: #009EF6;
	color: #fff;
  font-family: "Copperplate Gothic Light", sans-serif;
}

header h1 {
  max-width: 80%;
  padding-top: 25px;
  text-align: center;
  margin: 0 auto;
  font-size: 25px;
  font-weight: 400;
 }

.quote {
  font-size: 40px;
  text-align: center;
  padding: 20px;
  font-weight: 400; 
}

.author {
  font-size: 20px;
  padding: 10px;
  text-align: right;
  font-weight: 400;
  margin-right: 25px; 
}

.trigger {
  border: 1px solid lightgrey;
  background: #009EF6;
  border-radius: 10px;
  padding: 5px;
  margin: 10px;
  height: 50px;
  width: 150px;
  color: white;
  font-size: 18px;
  font-weight: 500;
}

.trigger:hover {
  cursor: pointer; 
  background-color: rgba(0, 0, 0, 0.2);
}

.tweet {
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  border-radius: 10px;
  border: 1px solid lightgrey;  
  padding: 13px;
  margin: 10px;
  height: 50px;
  width: 150px;
  text-decoration: none;
}

.tweet:hover {
  cursor: pointer; 
  background-color: rgba(0, 0, 0, 0.2);
}

@media screen and (max-width: 480px){

  .quote {
    font-size: 40px;
    margin: 0 auto;
  }

  .trigger {
    display: block;
    margin: 0 auto;
    margin-bottom: 25px;
  }

  .tweet {
    margin: 0 auto;
    padding: 13px;
  }
}

